.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.input-field label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.input-field input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.input-field textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  height: 20rem;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.submit-button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #f68924;
  background-color: #f68924;
  color: white;
  border-radius: 6px;
  margin-right: 1rem;
  size: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.submit-button:hover {
  border: 1px solid #934c0b;
}

.button-div {
  width: 20rem;
  text-align: left;
}
